.container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.3rem 0.3rem 1em rgba(0,0,0,0.3);
    text-align: center;
    padding: 2rem 3rem;
    margin-top: 5rem;
}

.container h2 {
    font-size: 1.8rem;
}

#menu-tage{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#link-container{
    width: 80%;
}

#menu-tage a{
    display: block;
    width: 100%;
    text-decoration: none;
    background: linear-gradient(145deg, rgb(26, 213, 226), rgba(7, 192, 177, 0.678));
    margin: 1rem auto;
    padding: 1rem 0;
    border: 0.5rem groove rgba(7, 192, 177, 0.678);
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    box-shadow: 0.3rem 0.3rem 0.5em rgba(0,0,0,0.3);
}

.total-box{
    box-shadow: 0.3rem 0.3rem 1em rgba(0,0,0,0.3);
    text-align: left;
    padding: 1rem 4rem;
    margin: 1rem 2rem;
    width: 30%;
    background-color: rgb(240, 240, 240);
}

.total-box h3 {
    font-size: 1.5rem;
}

.lesson-box{
    box-shadow: 0.3rem 0.3rem 1em rgba(0,0,0,0.3);
    text-align: left;
    padding: 2rem 4rem;
    margin: 1rem 2rem;
    width: 45%;
    background-color: rgb(240, 240, 240);
}

.lesson-box h3{
    font-size: 1.5rem;
}

.lesson{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem 1rem 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.8em rgba(0,0,0,0.3);
    border-radius: 3rem;
    border: 0.2rem solid rgba(0,0,0,0.3);
    background-color: rgba(99, 99, 99, 0.3);
    font-size: 0.9rem;
}

.nothing{
    background: rgb(184, 184, 184);
    text-align: center;
    width: 70%;
    border-radius: 30px;
    border: 0.5rem groove rgb(153, 153, 153)
}

.detail{
    margin-left: 0;
}

.f-center{
    display: flex;
    justify-content: center;
}

.g-split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.g-split p{
    margin: 0.2rem 1rem;
}

.w-60{
    width: 60%;
}

.w-90{
    width: 90%;
}

.pl-2{
    padding-left: 2rem;
}

@media screen and (max-width: 1200px) {
    .g-split{
        display: grid;
        grid-template-columns: 1fr;
    }
}