body{
    background-color: azure;
}

li{
    list-style: none;
    color: rgb(230, 32, 32);
}

.title{
    font-size: 2.5rem;
    margin: 3rem 5rem;
    font-family: 'Kaisei HarunoUmi', serif;
    text-shadow: 0.2rem 0.2rem 0 rgba(105, 105, 105, 0.7);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    width: 50%;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(145deg, #FFFFCC, #EEEEEE);
    border: 1rem outset white;
    border-radius: 10px;
    box-shadow: 0.3rem 0.3rem 1em rgba(0,0,0,0.3);
    margin-bottom: 5rem;
}

.register-container h1{
    margin-bottom: 2rem;
    border-bottom: 2px dashed black;
    padding-bottom: 0.5rem;
}

.label-box{
    text-align: center;
    padding: 0 6rem;
    margin-bottom: 1rem;
}

.label{
    font-size: 1.2rem;
}

.label-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select{
    width: 60%;
    height: 1.7rem;
    box-shadow: 0.3rem 0.3rem 0.5em rgba(0,0,0,0.3);
}

.btn{
    padding: 1rem 2.8rem;
    margin-top: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 0.1rem groove white;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 100vh;
    background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.btn span {
    background-image: -webkit-gradient(linear, left top, right top, from(#485164), to(#495e52));
    background-image: -webkit-linear-gradient(left, #485164 0%, #495e52 100%);
    background-image: linear-gradient(to right, #485164 0%, #495e52 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.btn:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.user{
    float: right;
}

@media (max-width: 1200px){
    .title{
        margin: 5rem 7rem;
    }

    .register-container{
        width: 70%;
    }
}

@media (max-width: 768px){
    .title{
        margin: 3rem 5rem;
    }

    .register-container{
        width: 65%;
    }

    .label-box{
        margin-bottom: 3rem;
    }

    .label-container{
        display: block;
    }

    input, select{
        width: 90%;
    }

    .user{
        margin-top: 2rem;
    }
}

@media (max-width: 450px){
    .title{
        font-size: 1.8rem;
        margin: 2rem;
    }

    .register-container{
        width: 100%;
        padding: 0;
    }

    .label-box{
        padding: 0 2rem;
    }
}